.bullets {
    display: flex;
    column-gap: 1.9rem;

    .swiper-pagination-bullet {
        position: relative;
        flex: 0 0 5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(2rem);
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $white;
            transform: scale(0) translate(-50%, -50%);
            transform-origin: center;
            transition: transform 0.3s ease;
        }
        &.swiper-pagination-bullet-active {
            &::after {
                transform: scale(1) translate(-50%, -50%);
            }
        }
    }
}
