.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    @media (max-width: 48em) {
        flex-direction: column;
        gap: 8rem;
    }

    // .section-head__title

    &__title {
    }

    // .section-head__group

    &__group {
    }
}
