.section-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

		// .section-head__title

		&__title {
		}

		// .section-head__group

		&__group {
		}
}

