.benefits {
    margin-bottom: 25.7rem;

    @include small-tablet {
        margin-bottom: 28rem;
    }

    .landing-page & {
        margin-bottom: 31.7rem;

        @include small-tablet {
            margin-bottom: 15.7rem;
        }
    }

    .home-page & {
        margin-bottom: 17rem;
    }

    .sites-page & {
        margin-bottom: 26.7rem;
    }

    .shop-page & {
        margin-bottom: 28.7rem;
    }

    .promo-page & {
        .benefits__article-poster-image {
            max-width: 25rem;
            height: 24rem;
        }

        .benefits__article-description {
            max-width: 29.9rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, minmax(37.4rem, 1fr));
        gap: 3.6rem;

        @include small-tablet {
            grid-template-columns: repeat(2, minmax(32.8rem, 1fr));
            gap: 2.6rem 2.2rem;
        }
    }

    &__article {
        border-radius: 3rem;
        background: rgba(255, 255, 255, 0.1);
        padding: 3.8rem 2.2rem;
        display: flex;
        flex-direction: column;

        @include small-tablet {
            padding: 3.4rem 2rem 2rem;
        }

        &-heading {
            display: flex;
            align-items: flex-start;
            gap: 1.6rem;
            margin-bottom: 4rem;
            justify-content: space-between;

            @include small-tablet {
                margin-bottom: 3.4rem;
            }

            &-title {
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 100;
                line-height: normal;
                max-width: 21.6rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                span {
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: $white;
                }

                @include small-tablet {
                    max-width: 100%;
                }
            }

            &-counter {
                color: $darkPurple;
                font-size: 6rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include small-tablet {
                    display: none;
                }
            }
        }

        &-poster {
            border-radius: 3rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.3);
            background: #101653;
            height: 21.9rem;
            position: relative;
            margin-bottom: 3rem;

            @include small-tablet {
                margin-bottom: 2rem;
                height: 20rem;
            }

            &-image {
                height: auto;
                width: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                mix-blend-mode: lighten;

                transform: translate(-50%, -50%);
                @include sizes(28rem, 30rem);

                @include small-tablet {
                    @include sizes(26rem, 28rem);
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-description {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-right: 3rem;

            @include small-tablet {
                font-size: 2rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding-right: 0;
            }
        }
    }
}
