.cases {
    margin-bottom: 20rem;

    @include small-tablet {
        overflow-y: hidden;

        &__container {
            overflow: hidden;
        }
    }

    .promo-page & {
        margin-top: -11.3rem;
        margin-bottom: 25rem;

        @media (max-width: 48em) {
            margin-top: 16rem;
        }

        .group {
            padding-top: 1rem;
            gap: 4.4rem;
        }
        .section-head__title {
            transform: translateY(-1rem);
        }
        .group__projects {
            transform: translateX(-0.3rem);
            @media (max-width: 48em) {
                transform: translate(0rem, -0.3rem);
            }
        }
        .cases__btn {
            transform: translateX(0.2rem);

            @media (max-width: 48em) {
                transform: translateX(-0.5rem);
                gap: 5rem;
                padding-left: 6rem;
            }
        }
        .cases__head {
            margin-bottom: 4.8rem;

            @media (max-width: 48em) {
                gap: 4rem;
            }
        }
        .slide-cases {
            padding: 1.9rem 2.2rem 4rem 2.2rem;
        }
        .slide-cases__image-wrap {
            margin-bottom: 3.2rem;
        }
        .slide-cases__title {
            margin-bottom: 0.91rem;

            @media (max-width: 48em) {
                margin-bottom: 0rem;
            }
        }
        .bullets {
            column-gap: 2rem;
        }
        .bullets .swiper-pagination-bullet {
            @media (min-width: 48em) {
                flex: 0 0 4.5rem;
                width: 4.5rem;
                height: 4.5rem;
            }
        }
        .cases__bullets {
            bottom: 2.5rem;
        }
        .cases__carousel {
            margin-bottom: 6rem;
        }
        .btn__arrow-wrap {
            @media (max-width: 48em) {
                flex: 0 0 6.8rem;
                width: 6.8rem;
                height: 6.8rem;
            }
        }
        .slide-cases__image {
            @media (max-width: 48em) {
                height: 77rem;
            }
        }
        .slide-cases__image-wrap {
            @media (max-width: 48em) {
                margin-bottom: 12.8rem;
                height: 82rem;
                transform: translateX(-2rem);
                width: calc(100% + 15rem);
                transition: .3s transform ease;
            }
        }
        .slide-cases__content::after {
            left: 0;
            width: 100%;
            top: -4.5rem;
        }
        .slide-cases__content {
            @media (max-width: 48em) {
                margin-top: -9rem;
                transform: translateX(-2rem);
                width: 107%;
                padding: 3.4rem 3rem 3.4rem 2.6rem;
            }
        }
        .slide-cases__subtitle {
            @media (max-width: 48em) {
                font-size: 2.6rem;
            }
        }
        .cases__slider {
            @media (max-width: 48em) {
                margin-bottom: 2.1rem;
            }
        }
    }

    // .cases__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .cases__head

    &__head {
        margin-bottom: 6.8rem;
        @media (max-width: 48em) {
            .group__button {
                display: none;
            }
        }
    }

    // .cases__body

    &__body {
        display: flex;
        flex-direction: column;
    }

    // .cases__carousel

    &__carousel {
        @media (min-width: 48em) {
            position: relative;
            margin-bottom: 6.4rem;
        }
    }

    // .cases__slider

    &__slider {
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
            &.swiper {
                overflow: visible;
            }
        }
    }

    // .cases__wrapper

    &__wrapper {
    }

    // .cases__slide

    &__slide {
    }

    // .cases__bullets

    &__bullets {
        justify-content: center;
        @media (min-width: 48em) {
            position: absolute;
            z-index: 2;
            bottom: 2.1rem;
            right: 2.2rem;
            justify-content: stretch;
        }
    }

    // .cases__btn

    &__btn {
        &.btn {
            @media (min-width: 48em) {
                padding: 1rem 0.8rem 1rem 4rem;
                align-self: center;
                column-gap: 3.2rem;
            }
        }
    }
}

.slide-cases {
    @media (min-width: 48em) {
        padding: 1.9rem 2.2rem 3.5rem 2.2rem;
        display: flex;
        flex-direction: column;
        border-radius: 3rem;
        background-color: rgba(255, 255, 255, 0.1);
        &::after {
            content: none;
        }
    }

    // .slide-cases__image-wrap

    &__image-wrap {
        position: relative;
        margin-bottom: 3rem;
        height: 64rem;
        border-radius: 2rem;
        @media (max-width: 48em) {
            margin-bottom: 9rem;
            height: 74rem;
            width: 72rem;
            overflow-x: scroll;
            border-radius: 2.6rem 0 0 2.6rem;
            &::-webkit-scrollbar {
                position: absolute;
                top: calc(100% + 4rem);
                left: 0;
                right: 3.2rem;
                height: 0.6rem;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                height: 1rem;
                border-radius: 6rem;
                background-color: $white;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 6rem;
                height: 0.6rem;
            }
        }
    }

    // .slide-cases__image

    &__image {
        display: block;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        @media (max-width: 48em) {
            position: absolute;
            top: 0;
            left: auto;
            width: auto;
            height: 64rem;
            border-radius: 2.5rem;
            object-fit: contain;
        }
    }

    // .slide-cases__content

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        @media (max-width: 48em) {
            padding: 3.8rem 3rem 4.4rem 3rem;
            border-radius: 2.5rem;
            background-color: rgba(255, 255, 255, 0.1);

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: -9.5rem;
                left: 0;
                width: calc(100% + 3.2rem);
                height: 0.6rem;
                border-radius: 6rem;
                background-color: $white;
                opacity: 0.25;
            }
        }
    }

    // .slide-cases__title

    &__title {
        margin-bottom: 0.7rem;
        @media (max-width: 48em) {
            margin-bottom: 0rem;
            text-align: center;
        }
    }

    // .slide-cases__subtitle

    &__subtitle {
        @media (max-width: 48em) {
            font-size: 2.8rem;
        }
    }
}
