.intro {
    position: relative;
    margin-top: -14rem;
    margin-bottom: 10.5rem;
    padding-top: 37rem;

    @include small-tablet {
        margin-bottom: 15.5rem;
        margin-top: 0;
        padding-top: 69rem;
    }

    .promo-page & {
        padding-top: 44.2rem;
        @include small-tablet{
            margin-bottom: 19.5rem;
        }
        &::after {
            inset: unset;
            @media (max-width: 48em) {
                inset: 0;
                bottom: 54.5rem;
            }
        }
        @media (max-width: 48em) {
            padding-top: 73.2rem;
            overflow-x: hidden;
        }
        .group__projects {
            @media (max-width: 48em) {
                transform: translateX(4.5rem);

                &::after {
                    left: -3rem;
                    width: 0.4rem;
                    height: 76%;
                }
            }
        }
        .intro__poster-image {
            top: 6rem;
            img {
                height: 89%;
            }

            @media (max-width: 48em) {
                top: -0.3rem;
                left: -1.5rem;

                img {
                    height: 64.1%;
                }
            }
        }
        .group__counter span {
            font-size: 1.65rem;

            @media (max-width: 48em) {
                font-size: 2.5rem;
            }
        }
        .group__title {
            line-height: 128%;

            @media (max-width: 48em) {
                font-size: 2.56rem;
                line-height: 133%;
                margin-bottom: 1.5rem;
            }
        }
        .intro__title {
            margin-bottom: 6.2rem;
            max-width: 125rem;

            line-height: 100.3%;
            word-spacing: 1.9rem;

            @media (max-width: 48em) {
                margin-bottom: 7.1rem;
            }
        }
        .title {
            word-spacing: 1.8rem;
            line-height: 99%;

            .txt-green {
                word-spacing: 1.8rem;
                color: $green;
            }

            @media (max-width: 48em) {
                word-spacing: 0rem;
                line-height: 102%;
                font-size: 5.7rem;
                span:first-child {
                    margin-right: auto;
                    display: block;
                    color: $white;
                }
                .txt-green {
                    word-spacing: 0rem;
                }
            }
        }
        .group {
            @media (max-width: 48em) {
                justify-content: space-between;
                gap: 1rem;
            }
        }
        .btn {
            padding: 0.3rem 0.6rem 0.6rem 2rem;

            @media (max-width: 48em) {
                padding: 0.6rem 0.6rem 0.6rem 3rem;
                column-gap: 3.5rem;
                height: auto;
                width: 58%;
                justify-content: space-between;
            }
        }
        .btn__arrow-wrap svg {
            width: 2.5rem;
            height: 2.5rem;
            flex: 0 0 2.5rem;

            @media (max-width: 48em) {
                width: 3.8rem;
                height: 3.8rem;
                flex: 0 0 3.8rem;
            }
        }
        .intro__article-link-icon {
            transform: translate(-0.1rem, 0.1rem);
        }
        .intro__articles {
            margin-top: 6rem;

            @media (max-width: 48em) {
                margin-top: 16rem;
            }
        }
        .intro__article-link-image {
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                opacity: 0.1;
            }

            @media (min-width: 48em) {
                position: relative;
            }
            @media (max-width: 48em) {
                top: 1rem;
            }
        }
    }

    .portal-page & {
        margin-bottom: 2.5rem;
        padding-top: 43rem;

        @include small-tablet {
            padding-top: 81rem;
            margin-bottom: 16.5rem;
            margin-top: -23rem;
        }
    }

    .application-page & {
        padding-top: 43rem;
        margin-bottom: 10.5rem;

        @include small-tablet{
            padding-top: 74rem;
            margin-bottom: 15.5rem;
        }
    }

    .home-page & {
        padding-top: 43rem;

        .intro__title {
            @include small-tablet {
                margin-bottom: 8.3rem;
            }
        }

        .intro__content {
            @media (min-width: 48em) {
                &::after {
                    @include pseudo {
                        background: url(./assets/images/icons/heart.svg) no-repeat center;
                        width: 3rem;
                        height: 2.2rem;
                        right: 73.2rem;
                        z-index: 10;
                        top: 11rem;
                        background-size: cover;
                    }
                }

                &::before {
                    @include pseudo {
                        background: url(./assets/images/icons/heart.svg) no-repeat center;
                        width: 3rem;
                        height: 2.2rem;
                        right: 59rem;
                        z-index: 10;
                        top: 1rem;
                        background-size: cover;
                    }
                }
            }
        }

        @include small-tablet {
            padding-top: 72rem;

            .group__button {
                height: 9.5rem;
            }

            .intro__articles {
                margin-top: 19rem;
            }

            .intro__poster-image {
                img {
                    object-position: -152rem;
                }
            }
        }
    }

    .publications-page & {
        height: 172.3rem;
        padding-top: 54rem;

        @include small-tablet {
            padding-top: 80rem;
            height: 124rem;

            .intro__poster-image img {
                object-position: -35rem;
            }
        }

        .intro__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 0.9rem;
            width: 100%;

            @include small-tablet {
                gap: 0;
            }
        }

        .intro__content {
            margin-top: 0;
        }

        .btn {
            column-gap: 5.5rem;
            padding-left: 5rem;

            @include small-tablet {
                column-gap: 7.5rem;
                padding-left: 8rem;
            }
        }
    }

    .landing-page & {
        padding-top: 53rem;

        @include small-tablet {
            padding-top: 80rem;
        }
    }

    .cases-page & {
        padding-top: 62rem;

        @include small-tablet {
            padding-top: 85rem;
        }

        .intro__content {
            width: 100%;
        }

        &__categories {
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
                margin-top: 6rem;
                width: 100%;

                @include small-tablet {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2.8rem;
                    margin-top: 11rem;
                }
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 2.6rem;
                border-radius: 3rem;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(2rem);
                padding: 0.9rem 3rem 0.9rem 1.1rem;
                cursor: pointer;
                transition: 0.3s background ease;

                @include small-tablet {
                    padding: 1.8rem;
                    border-radius: 4rem;
                    gap: 3.6rem;
                }

                &:hover {
                    .intro__categories-item-icon {
                        background: $blue;
                    }

                    .intro__categories-item-title {
                        color: $darkPurple2;
                    }

                    background: $white;
                }

                &.--active {
                    background: $white;

                    .intro__categories-item-title {
                        color: $darkPurple2;
                    }

                    .intro__categories-item-icon {
                        background: $blue;
                    }
                }

                &-icon {
                    border-radius: 50%;
                    width: 4.6rem;
                    height: 4.6rem;
                    background: rgba(255, 255, 255, 0.2);
                    position: relative;
                    transition: 0.3s background ease;

                    @include small-tablet {
                        width: 6rem;
                        height: 6rem;
                    }

                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                        height: auto;
                    }
                }

                &-title {
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 100;
                    line-height: normal;
                    transition: 0.3s color ease;
                    display: block;
                    white-space: nowrap;

                    @include small-tablet {
                        text-align: center;
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 100;
                        line-height: normal;
                        white-space: initial;
                    }
                }
            }
        }

        .intro__poster-image {
            @include small-tablet {
                bottom: 38rem;
            }

            img {
                object-position: 0 0;

                @include small-tablet {
                    object-position: -85rem;
                }
            }
        }
    }

    .sites-page & {
        padding-top: 44rem;
        margin-bottom: 11rem;

        @include small-tablet {
            padding-top: 72.9rem;
            margin-bottom: 27rem;
        }

        &::after {
            bottom: -182.5rem;

            @media (max-width: 48em) {
                bottom: 9rem;
            }
        }

        .intro__poster-image {
            top: 6rem;
            img {
                height: 112%;
                @include small-tablet {
                    object-position: -122rem -3rem;
                }
            }

            @media (max-width: 48em) {
                top: -27rem;
                left: -27rem;

                img {
                    height: 91%;
                    object-position: inherit;
                }
            }
        }

        .intro__title {
            margin-bottom: 6rem;
            line-height: 101%;

            @media (max-width: 48em) {
                margin-bottom: 6.6rem;
                line-height: 99%;
            }
        }

        .group__projects {
            @media (max-width: 48em) {
                transform: translateX(0.4rem);
            }
        }

        .group__title {
            @media (max-width: 48em) {
                transform: translate(-0.4rem, -0.5rem);
            }
        }

        .intro__articles {
            @media (max-width: 48em) {
                margin-top: 16rem;
            }
        }

        .group__projects::after {
            height: 88%;
        }

        .intro__content {
            padding-bottom: 0;
        }
    }

    .shop-page & {
        padding-top: 43rem;

        @include small-tablet {
            padding-top: 75rem;
            margin-bottom: 15.5rem;
        }

        .intro__poster-image {
            @include small-tablet {
                bottom: 68rem;
            }
        }
    }

    .services-page & {
        padding-top: 41rem;

        @include small-tablet {
            padding-top: 68rem;
        }

        .intro__title {
            max-width: 30rem;
            margin-bottom: 2.3rem;
        }

        .intro__description {
            max-width: 56rem;
            margin-bottom: 4rem;

            @include small-tablet {
                max-width: 75rem;
                margin-bottom: 8rem;
            }
        }

        .intro__content {
            padding-bottom: 55.7rem;

            @include small-tablet {
                padding-bottom: 17rem;
            }
        }

        .intro__poster-image img {
            @include small-tablet {
                object-position: -70rem -1rem;
            }
        }
    }

    .services-template-page & {
        padding-top: 44rem;
        margin-bottom: 11rem;

        @include small-tablet {
            padding-top: 77rem;
        }
    }

    .container {
        display: flex;
        height: 100%;
    }

    @include small-tablet {
        margin-top: -22rem;
        &::after {
            background: linear-gradient(0deg, #101653 13%, rgba(23, 15, 67, 0) 75.45%);
        }
    }

    &::after {
        @include pseudo {
            content: '';
            position: absolute;
            background: linear-gradient(0deg, #101653 0%, rgba(23, 15, 67, 0) 63.45%);
            z-index: -1;
            inset: 0;
            bottom: -0.5rem;
        }
    }

    &__content {
        margin-top: auto;
        padding-bottom: 11.7rem;
        position: relative;
    }

    &__title {
        display: block;
        line-height: 110%;
        margin-bottom: 5.3rem;

        .promo-page & {
            max-width: 118rem;
        }

        @include small-tablet {
            .promo-page & {
                max-width: 62rem;
                font-family: 'Space Age Cyrillic';
            }
            span {
                &:not(&.txt-green) {
                    color: $green;
                }
            }

            line-height: 85%;
            margin-bottom: 7.3rem;
        }
    }

    &__poster-image {
        position: absolute;
        inset: 0;
        z-index: -1;

        &_has-backdrop {
            @media (max-width: 48em) {
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 68%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
        }

        img {
            height: 100%;
            object-fit: cover;

            @include small-tablet {
                .home-page & {
                    object-position: -140rem;
                }
            }
        }
    }

    &__request {
        display: flex;
        align-items: center;
        gap: 3.7rem;

        @include small-tablet {
            gap: 5rem;
        }

        &-projects {
            &-counter {
            }

            &-title {
            }
        }
    }

    &__articles {
        display: grid;
        grid-template-columns: repeat(3, minmax(51rem, 1fr));
        gap: 3.7rem;
        margin-top: 5.9rem;

        .article-page & {
            margin-top: 3rem;
            margin-bottom: 10.1rem;

            @include small-tablet {
                margin-top: 13rem;
                margin-bottom: 6.1rem;
            }
        }

        @include small-tablet {
            grid-template-columns: repeat(3, minmax(15.2rem, 1fr));
            gap: 2.8rem;
            margin-top: 17rem;
        }
    }

    &__article {
        border-radius: 3rem;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2rem);
        position: relative;

        a:hover {
            color: $green;
        }

        @include small-tablet {
            border-radius: 2rem;
        }

        &-link {
            padding: 1.1rem 6rem 1.1rem 4.1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            @include small-tablet {
                flex-direction: column;
                gap: 2.6rem;
                height: 100%;
                padding: 11.5rem 2rem 3rem;
            }

            &-title {
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 100;
                line-height: normal;
                max-width: 19rem;
                transition: 0.3s color ease;
                overflow: hidden;

                &:not(.promo-page &) {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                @include small-tablet {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 100;
                    line-height: normal;
                    text-align: center;
                    max-width: 100%;
                    flex: 1 1 auto;
                }
            }

            &-image {
                @include sizes(20.2rem, 20.2rem);
                flex: 0 0 20.2rem;
                border-radius: 50%;

                @include small-tablet {
                    position: absolute;
                    @include sizes(16.2rem, 16.2rem);
                    flex: 0 0 16.2rem;
                    top: 2rem;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                img {
                    border-radius: inherit;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-icon {
                position: absolute;
                top: 1rem;
                right: 1.3rem;

                &_has-number {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    transition: color 0.3s ease;
                }

                @include rotated-arrow;

                @include small-tablet {
                    position: static;
                    padding: 0.8rem;
                }
            }
        }
    }
}
