.intro {
    position: relative;
    margin-top: -8rem;
    margin-bottom: 10.5rem;
    padding-top: 40rem;

    @include small-tablet {
        margin-bottom: 15.5rem;
        padding-top: 68rem;
    }

    .container {
        display: flex;
        height: 100%;
    }

    @include small-tablet {
        margin-top: -16rem;
        &::after {
            background: linear-gradient(0deg, #101653 13%, rgba(23, 15, 67, 0) 75.45%);
        }
    }

    &::after {
        @include pseudo {
            content: '';
            position: absolute;
            background: linear-gradient(0deg, #101653 0%, rgba(23, 15, 67, 0) 63.45%);
            z-index: -1;
            inset: 0;
            bottom: -0.5rem;
        }
    }

    &__content {
        margin-top: auto;
        padding-bottom: 11.7rem;

        @include small-tablet {
        }
    }

    &__title {
        display: block;
        line-height: 110%;
        margin-bottom: 5.3rem;

        .promo-page & {
            max-width: 118rem;

        }

        @include small-tablet {
            .promo-page & {
                    max-width: 62rem;
                    font-family: "Space Age Cyrillic";
            }
            span {
                &:not(&.txt-green) {
                color: $green;

                }
            }

            line-height: 85%;
            margin-bottom: 7.3rem;
        }
    }

    &__poster-image {
        position: absolute;
        inset: 0;
        z-index: -1;

        &_has-backdrop {
            &::after {
                content: '';
                position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.3);
            }
        }

        img {
            height: 100%;
            object-fit: cover;

            @include small-tablet {
                .home-page & {
                    object-position: -140rem;
                }
            }
        }
    }

    &__request {
        display: flex;
        align-items: center;
        gap: 3.7rem;

        @include small-tablet {
            gap: 5rem;
        }

        &-projects {

            &-counter {
            }

            &-title {
            }
        }
    }

    &__articles {
        display: grid;
        grid-template-columns: repeat(3, minmax(51rem, 1fr));
        gap: 3.7rem;
        margin-top: 5.9rem;

        @include small-tablet {
            grid-template-columns: repeat(3, minmax(15.2rem, 1fr));
            gap: 2.8rem;
            margin-top: 17rem;
        }
    }

    &__article {
        border-radius: 3rem;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2rem);
        position: relative;

        a:hover {
            color: $green;
        }

        @include small-tablet {
            border-radius: 2rem;
        }

        &-link {
            padding: 1.1rem 6rem 1.1rem 4.1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            @include small-tablet {
                flex-direction: column;
                gap: 2.6rem;
                height: 100%;
                padding: 11.5rem 2rem 3rem;
            }


            &-title {
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 18rem;
                transition: 0.3s color ease;

                @include small-tablet {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: center;
                    max-width: 100%;
                    flex: 1 1 auto;
                }
            }

            &-image {
                @include sizes(20.2rem, 20.2rem);
                flex: 0 0 20.2rem;
                border-radius: 50%;

                @include small-tablet {
                    position: absolute;
                    @include sizes(16.2rem, 16.2rem);
                    flex: 0 0 16.2rem;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                img {
                    border-radius: inherit;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-icon {
                position: absolute;
                top: 1rem;
                right: 1.3rem;

                &_has-number {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    transition: color 0.3s ease;
                }

                @include rotated-arrow;

                @include small-tablet {
                    position: static;
                    padding: 0.8rem;
                }
            }
        }
    }
}
