.portfolio {
    margin-bottom: 18.5rem;

    .cases-page & {
        margin-top: -6rem;

        @include small-tablet {
            margin-top: -17rem;
        }
    }

    .home-page & {
        .portfolio__heading {
            margin-bottom: 8rem;
        }

        @include small-tablet{
            .group__button {
                .btn__arrow-wrap {
                    height: 6.4rem;
                    width: 6.4rem;
                }
            }
        }
    }

    .shop-page & {
        .portfolio__heading {
            margin-bottom: 9.3rem;
        }
    }

    .landing-page & {
        margin-bottom: 25.5rem;

        .portfolio__heading {
            margin-bottom: 9.3rem;
        }
    }

    .portal-page & {
        .portfolio__heading {
            margin-bottom: 9.3rem;

            @include small-tablet{
                margin-bottom: 6.3rem;
            }
        }
    }

    .application-page & {
        margin-bottom: 25.5rem;
    }

    .sites-page & {
        margin-bottom: 13.8rem;

        @media (max-width: 48em) {
            margin-bottom: 26.8rem;
        }
        .section-head__group {
            transform: translateY(1.7rem);
            @media (max-width: 48em) {
                transform: translate(-1rem, 1.7rem);
            }
        }

        .portfolio__item-icon {
            transform: translateY(1.3rem);

            @media (max-width: 48em) {
                transform: translate(1.2rem, 1.4rem);
            }
        }

        .group {
            gap: 4.2rem;
        }

        .group__projects {
            transform: translateX(-0.5rem);

            @media (max-width: 48em) {
                transform: translateX(1.5rem);
            }
        }

        .portfolio__item-image {
            @media (max-width: 48em) {
                margin-bottom: 0.5rem;
                height: 33rem;
            }
        }

        .portfolio__item a {
            @media (max-width: 48em) {
                min-height: 45.4rem;
            }
        }

        .portfolio__heading {
            margin-bottom: 8.3rem;

            @media (max-width: 48em) {
                margin-bottom: 8rem;
                gap: 5rem;
            }
        }

        .portfolio__list {
            @media (max-width: 48em) {
                margin-bottom: 6.8rem;
            }
        }

        .portfolio__link {
            width: 24.4rem;
            justify-content: space-between;
            padding: 0.6rem 0.6rem 0.6rem 4rem;

            @media (max-width: 48em) {
                width: 36.4rem;
                padding: 0.6rem 0.6rem 0.6rem 4.2rem;
            }
        }
    }

    @include small-tablet {
        margin-bottom: 27rem;
    }

    &__heading {
        margin-bottom: 6.3rem;

        @include small-tablet {
            margin-bottom: 8rem;
            gap: 6rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(78.4rem, 1fr));
        gap: 3.6rem 3.3rem;
        margin-bottom: 6.6rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 3.3rem;
            margin-bottom: 7.6rem;
        }
    }

    &__item {
        a {
            display: flex;
            flex-direction: column;
            gap: 3.3rem;
            border-radius: 3rem;
            background: rgba(255, 255, 255, 0.1);
            padding: 2.2rem 2.2rem 3.2rem;
            position: relative;

            @include small-tablet {
                gap: 2.6rem;
                padding: 2rem 1.5rem;
                min-height: 45rem;
            }

            &:hover {
                .portfolio__item-text {
                    color: $green;
                }

                .portfolio__item-image img {
                    transform: scale(1.1);
                }
            }
        }

        &-image {
            @include sizes(100%, 36.5rem);
            border-radius: 3rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.3);
            overflow: hidden;

            @include small-tablet {
                @include sizes(100%, 32rem);
                margin-bottom: 2rem;
            }

            img {
                height: 100%;
                border-radius: inherit;
                transition: 0.3s transform ease;
                object-fit: cover;
            }
        }

        &-bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        &-text {
            display: flex;
            flex-direction: column;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 100;
            line-height: 3rem;
            transition: 0.3s color ease;

            @include small-tablet {
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 100;
                line-height: 1.5rem;
                gap: 2rem;
            }

            span {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 100;
                line-height: 3rem;
                color: $white;

                @include small-tablet {
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 100;
                    line-height: 1.5rem;
                }
            }
        }

        &-icon {
            @include rotated-arrow;
            position: absolute;
            right: 2rem;
            bottom: 2rem;

            @include small-tablet {
                padding: 0.6rem;
                @include sizes(5.2rem, 5.2rem);
                position: absolute;
                right: 2.2rem;
                bottom: 2.2rem;
            }
        }
    }

    &__link {
        margin: 0 auto;
        width: fit-content;
        column-gap: 4.5rem;
        padding-left: 4rem;
    }
}
