.promotion {
    margin-bottom: 31rem;

    &_real-fant {
        margin-bottom: 28rem;
        .promotion {
            &__content {
                &::after {
                    content: none;
                }
            }
            &__title {
                display: flex;
                flex-direction: column;
                .promotion__title-txt {
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    span {
                        font-family: 'Euclid Circular A';
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                    &:nth-child(2) {
                        align-self: flex-end;
                        span {
                            align-self: flex-end;
                        }
                    }
                    &:last-child {
                        span {
                            align-self: flex-end;
                        }
                    }
                }
                @media (max-width: 48em) {
                    row-gap: 5rem;
                    font-size: 5.2rem;
                    transform: translateY(7rem);
                    letter-spacing: normal;
                    .promotion__title-txt {
                        &:first-child {
                            transform: translateX(10rem);
                        }
                        &:nth-child(2) {
                            align-self: center;
                            transform: translateX(-1.5rem);
                            font-size: 4.8rem;
                        }
                        &:nth-child(3),
                        &:last-child {
                            margin: 0;
                            align-self: flex-end;
                            transform: translateX(2rem);
                        }
                        &:nth-child(4) {
                            transform: translateX(-1.5rem);
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
            &__block {
                @media (min-width: 48em) {
                    &._mobile-only {
                        display: none;
                    }
                }
                @media (max-width: 48em) {
                    margin-bottom: 12rem;
                }
            }
            &__list {
                @media (max-width: 48em) {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4rem;
                }
            }
        }
    }

    &__bg-text {
        position: absolute;
        z-index: -1;
        top: -13rem;
        left: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateX(-50%);

        @media (max-width: 48em) {
            width: calc(100vw - 9rem);
            left: 1rem;
            row-gap: 23rem;
            transform: none;
            .bg-text__content {
                display: flex;
                flex-direction: column;
                span {
                    align-self: flex-start;
                    transform: translateX(-3rem);
                }
                &:first-child {
                    span:first-child {
                        align-self: flex-end;
                        transform: translateX(4rem);
                    }
                }
                &:last-child {
                    span:last-child {
                        align-self: flex-end;
                        transform: translateX(4rem);
                    }
                }
            }
        }
        @media (min-width: 48em) {
            .bg-text__content {
                align-self: flex-end;
                &:last-child {
                    align-self: flex-start;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem 0 2.9rem;
        position: relative;

        @include small-tablet {
            padding: 0;
            gap: 1rem;
        }

        &::after {
            @include pseudo {
                content: '3';
                -webkit-text-stroke-width: 0.5rem;
                -webkit-text-stroke-color: rgba(41, 255, 127, 0.1);
                font-family: $spaceAgeCyr;
                font-size: 70rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: $bgColor;
                left: 50%;
                transform: translateX(-50%);
                top: -34rem;
                z-index: -1;
            }
        }
    }

    &__title {
        @include small-tablet {
            letter-spacing: 0.5rem;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;

        @include small-tablet {
            flex-direction: column-reverse;
            gap: 1rem;

            &:last-child {
                .promotion__title {
                    margin-left: auto;
                    margin-right: 0 !important;
                }
            }
        }

        &:nth-child(even) {
            text-align: end;

            @include small-tablet {
                text-align: start;
            }

            span {
                display: block;
                margin-right: 34rem;

                @include small-tablet {
                    margin-right: auto;
                }
            }
        }

        @include small-tablet {
            &:nth-child(odd) {
                text-align: end;

                .promotion__title {
                    margin-right: 5rem;
                }
            }
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
