.promotion {
    margin-bottom: 31rem;

    .landing-page & {
        margin-bottom: 22rem;
    }

    .sites-page & {
        margin-bottom: 28rem;

        @include small-tablet {
            margin-bottom: 26rem;
        }

        .promotion__content {
            padding: 0;
        }

        .promotion__block {
            margin-bottom: 0;

            @include small-tablet {
                margin-bottom: 3rem;
            }

            &:nth-of-type(1) {
                text-align: right;

                @include small-tablet {
                    text-align: left;
                }

                span {
                    text-align: right;
                }
            }

            &:nth-of-type(2) {
                text-align: left;

                @include small-tablet {
                    text-align: right;
                }

                span {
                    text-align: center;
                }
            }

            &:nth-of-type(3) {
                text-align: right;

                @include small-tablet {
                    text-align: left;
                }
            }

            &:nth-of-type(4) {
                @include small-tablet {
                    text-align: right;
                }
            }

            &:nth-of-type(5) {
                @include small-tablet {
                    text-align: left;
                }
            }

            h2 {
                @include small-tablet {
                    font-size: 4.6rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 5.5rem;
                    white-space: nowrap;
                }
            }
        }

        .promotion__content {
            &::after {
                content: 'real';
                text-align: center;
                -webkit-text-stroke-width: 0.5rem;
                -webkit-text-stroke-color: rgba(41, 255, 127, 0.1);
                font-size: 50rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -2.5rem;
                top: -12rem;

                @include small-tablet {
                    top: 5rem;
                    font-size: 21rem;
                    letter-spacing: 0;
                }
            }
        }
    }

    .shop-page & {
        margin-bottom: 21rem;

        @include small-tablet{
            margin-bottom: 27rem;
        }

        .promotion__block {
            @include small-tablet{
                margin-bottom: 0;
            }

            &:nth-of-type(1) {
                align-items: center;

                @include small-tablet{
                    h2 {
                        margin-right: 0;
                        margin-left: 5rem;
                    }
                }
            }

            &:nth-of-type(2) {
                align-items: start;
            }

            &:nth-of-type(3) {
                align-items: end;

                @include small-tablet{
                    h2 {
                        margin-right: 0;
                    }
                }
            }

            &:nth-of-type(5) {
                @include small-tablet{
                    text-align: start;
                }
            }
        }

        .promotion__content {
            &::after {
                content: 'real';
                text-align: center;
                -webkit-text-stroke-width: 0.5rem;
                -webkit-text-stroke-color: rgba(41, 255, 127, 0.1);
                font-size: 50rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -2.5rem;
                top: -12rem;

                @include small-tablet {
                    top: 5rem;
                    font-size: 21rem;
                    letter-spacing: 0;
                }
            }
        }
    }

    &_real-fant {
        margin-bottom: 28rem;
        .promotion {
            &__content {
                &::after {
                    content: none;
                }
            }
            &__title {
                display: flex;
                flex-direction: column;
                .promotion__title-txt {
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    span {
                        font-family: 'Euclid Circular A';
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                    &:nth-child(2) {
                        align-self: flex-end;
                        span {
                            align-self: flex-end;
                        }
                    }
                    &:last-child {
                        span {
                            align-self: flex-end;
                        }
                    }
                }
                @media (max-width: 48em) {
                    row-gap: 5rem;
                    font-size: 5.2rem;
                    transform: translateY(7rem);
                    letter-spacing: normal;
                    .promotion__title-txt {
                        &:first-child {
                            transform: translateX(10rem);
                        }
                        &:nth-child(2) {
                            align-self: center;
                            transform: translateX(-1.5rem);
                            font-size: 4.8rem;
                        }
                        &:nth-child(3),
                        &:last-child {
                            margin: 0;
                            align-self: flex-end;
                            transform: translateX(2rem);
                        }
                        &:nth-child(4) {
                            transform: translateX(-1.5rem);
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
            &__block {
                @media (min-width: 48em) {
                    &._mobile-only {
                        display: none;
                    }
                }
                @media (max-width: 48em) {
                    margin-bottom: 12rem;
                }
            }
            &__list {
                @media (max-width: 48em) {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4rem;
                }
            }
        }
    }

    &__bg-text {
        position: absolute;
        z-index: -1;
        top: -13rem;
        left: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateX(-50%);

        @media (max-width: 48em) {
            width: calc(100vw - 9rem);
            left: 1rem;
            row-gap: 23rem;
            transform: none;
            .bg-text__content {
                display: flex;
                flex-direction: column;
                span {
                    align-self: flex-start;
                    transform: translateX(-3rem);
                }
                &:first-child {
                    span:first-child {
                        align-self: flex-end;
                        transform: translateX(4rem);
                    }
                }
                &:last-child {
                    span:last-child {
                        align-self: flex-end;
                        transform: translateX(4rem);
                    }
                }
            }
        }
        @media (min-width: 48em) {
            .bg-text__content {
                align-self: flex-end;
                &:last-child {
                    align-self: flex-start;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem 0 2.9rem;
        position: relative;

        @include small-tablet {
            padding: 0;
            gap: 1rem;
        }

        &::after {
            @include pseudo {
                content: '3';
                -webkit-text-stroke-width: 0.5rem;
                -webkit-text-stroke-color: rgba(41, 255, 127, 0.1);
                font-family: $spaceAgeCyr;
                font-size: 70rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: $bgColor;
                left: 50%;
                transform: translateX(-50%);
                top: -34rem;
                z-index: -1;

                .landing-page & {
                    content: 'real';
                    text-align: center;
                    -webkit-text-stroke-width: 0.5rem;
                    -webkit-text-stroke-color: rgba(41, 255, 127, 0.1);
                    font-size: 50rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -2.5rem;
                    top: -12rem;

                    @include small-tablet {
                        top: 5rem;
                        font-size: 21rem;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }

    &__title {
        @include small-tablet {
            letter-spacing: 0.5rem;

            .landing-page & {
                font-size: 4.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 5.5rem;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;

        &:not(:last-child, .promo-page &) {
            margin-bottom: 2rem;

            @include small-tablet {
                margin-bottom: 3rem;
            }
        }

        .landing-page & {
            &:first-child {
                span {
                    text-align: center;
                }

                @include small-tablet {
                    text-align: start;
                    margin-left: 4rem;
                }
            }

            &:nth-of-type(2) {
                text-align: left;
                margin-left: 5rem;

                @include small-tablet {
                    margin-left: 0;
                }
            }

            &:nth-of-type(3) {
                text-align: end;
                margin-top: -3rem;

                @include small-tablet {
                    h2 {
                        margin-right: 0;
                    }
                }
            }

            &:last-child {
                @include small-tablet {
                    text-align: left;
                }
            }
        }

        @include small-tablet {
            flex-direction: column-reverse;
            gap: 1rem;

            &:last-child {
                .promotion__title {
                    margin-left: auto;
                    margin-right: 0 !important;
                }
            }
        }

        &:nth-child(even) {
            text-align: end;

            @include small-tablet {
                text-align: start;
            }

            span {
                display: block;
                margin-right: 34rem;

                @include small-tablet {
                    margin-right: auto;
                }
            }
        }

        @include small-tablet {
            &:nth-child(odd) {
                text-align: end;

                .promotion__title {
                    margin-right: 5rem;
                }
            }
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
