.txt-green {
    color: $green;
    &_do {
        @media (max-width: 48em) {
            color: inherit;
        }
    }
}

._desktop-only {
    @media (max-width: 48em) {
        display: none;
    }
}
._mobile-only {
    display: none;
    @media (max-width: 48em) {
        display: block;
    }
}

// --------------------------------------------------------------------------

@import '../sections/cases';
@import '../sections/info-block';
