<section class="articles">
    <div class="container">
        <div class="articles__content">
            <div class="intro__articles">
                <article class="intro__article">
                    <a href="#" class="intro__article-link">
                        <span class="intro__article-link-title"> Разработка мобильных приложений </span>

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-1.svg" alt="" />
                        </figure>

                        <figure class="intro__article-link-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </article>
                <article class="intro__article">
                    <a href="#" class="intro__article-link">
                        <span class="intro__article-link-title"
                        >Разработка сайтов <br />
                            под ключ</span
                        >

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-2.svg" alt="" />
                        </figure>

                        <figure class="intro__article-link-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </article>
                <article class="intro__article">
                    <a href="#" class="intro__article-link">
                        <span class="intro__article-link-title"
                        >Вывод <br />
                            по Яндексу в ТОП-3</span
                        >

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-3.svg" alt="" />
                        </figure>

                        <figure class="intro__article-link-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>