<section class="article">
    <div class="container">
        <div class="article__heading">
            <a href="#" class="article__heading-link">
                <figure class="article__heading-link-arrow">
                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9.60125 19.0409L3.53125 12.9709L9.60125 6.90088"
                            stroke="#140A3F"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M20.5331 12.9707L3.70312 12.9707"
                            stroke="#140A3F"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </figure>

                <span class="article__heading-link-text"> Назад </span>
            </a>

            <figure class="article__heading-poster">
                <img src="./assets/images/sections/article/article-poster.webp" alt="" />
            </figure>

            <time class="article__heading-date" datetime="06 / 07 /2024"> 06 / 07 /2024 </time>
        </div>

        <h1 class="article__title">Название статьи, может быть длинным, в 3-4 строки</h1>

        <div class="article__content">
            <p class="article__description">
                Такой тип сайта, как лендинг, одностраничник - требует минимума времени и усилий на свою
                разработку, и при этом является одним из наиболее продуктивных инструментов поиска
                потенциальных и реальных клиентов, осуществления прямых продаж. Уровень конверсии посетителей
                в покупателей у сайта-одностраничника может быть очень высоким, так как такая площадка обычно
                продает лишь один товар (или услугу) потенциально заинтересованной аудитории.
            </p>

            <span class="article__subtitle"> Разработка лендинга рекомендуется в следующих случаях: </span>

            <ul class="article__list">
                <li class="article__item">
                    Необходимо экономить средства (например, на начальном этапе торгового бизнеса в сети).
                </li>
                <li class="article__item">
                    Нужно протестировать бизнес-идею (оценка спроса на новый товар и т.п.).
                </li>
                <li class="article__item">Срочный старт продаж (нет времени на полноценный сайт).</li>
                <li class="article__item">
                    Дополнительная раскрутка узкого направления (выделение торговой позиции на отдельную
                    площадку).
                </li>
            </ul>

            <p class="article__description">
                Такой тип сайта, как лендинг, одностраничник - требует минимума времени и усилий на свою
                разработку, и при этом является одним из наиболее продуктивных инструментов поиска
                потенциальных и реальных клиентов, осуществления прямых продаж. Уровень конверсии посетителей
                в покупателей у сайта-одностраничника может быть очень высоким, так как такая площадка обычно
                продает лишь один товар (или услугу) потенциально заинтересованной аудитории.
            </p>

            <span class="article__subtitle">Разработка лендинга рекомендуется в следующих случаях: </span>

            <ul class="article__list">
                <li class="article__item">
                    Необходимо экономить средства (например, на начальном этапе торгового бизнеса в сети).
                </li>
                <li class="article__item">
                    Нужно протестировать бизнес-идею (оценка спроса на новый товар и т.п.).
                </li>
                <li class="article__item">Срочный старт продаж (нет времени на полноценный сайт).</li>
                <li class="article__item">
                    Дополнительная раскрутка узкого направления (выделение торговой позиции на отдельную
                    площадку).
                </li>
            </ul>

            <p class="article__description">
                Такой тип сайта, как лендинг, одностраничник - требует минимума времени и усилий на свою
                разработку, и при этом является одним из наиболее продуктивных инструментов поиска
                потенциальных и реальных клиентов, осуществления прямых продаж. Уровень конверсии посетителей
                в покупателей у сайта-одностраничника может быть очень высоким, так как такая площадка обычно
                продает лишь один товар (или услугу) потенциально заинтересованной аудитории.
            </p>

            <span class="article__subtitle">Разработка лендинга рекомендуется в следующих случаях: </span>

            <ul class="article__list">
                <li class="article__item">
                    Необходимо экономить средства (например, на начальном этапе торгового бизнеса в сети).
                </li>
                <li class="article__item">
                    Нужно протестировать бизнес-идею (оценка спроса на новый товар и т.п.).
                </li>
                <li class="article__item">Срочный старт продаж (нет времени на полноценный сайт).</li>
                <li class="article__item">
                    Дополнительная раскрутка узкого направления (выделение торговой позиции на отдельную
                    площадку).
                </li>
            </ul>
        </div>
    </div>
</section>
