<section class="attendance">
    <div class="container">
        <div class="attendance__content">
            <div data-aos="fade-up" data-aos-offset="250" class="attendance__heading section-head">
                <h2 class="attendance__title title">Другие услуги компании</h2>

                <div class="group">
                    <button type="button" class="group__button btn">
                        <span class="btn__text">Оставить заявку</span>
                        <span class="btn__arrow-wrap btn__arrow-wrap">
                            <img
                                aria-hidden="true"
                                src="./assets/images/icons/arr.svg"
                                alt=""
                                class="btn__arrow-icon"
                            />
                        </span>
                    </button>

                    <div class="group__projects">
                        <div class="group__counter"><span>50+</span></div>

                        <p class="group__title">проектов</p>
                    </div>
                </div>
            </div>

            <ul class="attendance__list">
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-1.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title"> Разработка сайта на битриксе </span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-2.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Digital-агенство</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-3.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка бренд-бука</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="attendance__item --hidden">
                    <a href="#">
                        <figure class="attendance__item-image">
                            <img src="./assets/images/sections/attendance/attendance-image-4.webp" alt="" />
                        </figure>

                        <span class="attendance__item-title">Разработка сайта-визитки</span>

                        <figure class="attendance__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
            </ul>

            <button
                data-aos="fade-up"
                data-aos-offset="250"
                type="button"
                class="attendance__button btn btn_arr-down"
            >
                <span class="btn__text">Загрузить еще</span>
                <span class="btn__arrow-wrap btn__arrow-wrap">
                    <img
                        aria-hidden="true"
                        src="./assets/images/icons/arrow-down.svg"
                        alt=""
                        class="btn__arrow-icon"
                    />
                </span>
            </button>
        </div>
    </div>
</section>
