<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Коммуникации</span>
                    <sub class="benefits__article-heading-counter"> 01 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-1.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">Развитие коммуникации внутри компании</p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Продуктивность</span>
                    <sub class="benefits__article-heading-counter"> 02 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-2.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">Повышение эффективности работы сотрудников</p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Упрощенный доступ</span>
                    <sub class="benefits__article-heading-counter"> 03 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-3.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">
                    Упрощение доступа сотрудников к корпоративной информации новостям и документам
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Командность</span>
                    <sub class="benefits__article-heading-counter"> 04 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-4.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">Обеспечим организацию совместной работы</p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Системы хранения</span>
                    <sub class="benefits__article-heading-counter"> 05 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-5.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">Систематизация и хранение корпоративных знаний</p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Личные кабинеты</span>
                    <sub class="benefits__article-heading-counter"> 06 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-6.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">
                    Личные кабинеты и пространства сотрудников. Быстрая адаптация новых сотрудников
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Онлайн сервисы</span>
                    <sub class="benefits__article-heading-counter"> 07 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-7.png" alt="" />3
                    </figure>
                </div>
                <p class="benefits__article-description">
                    Онлайн сервисы компании для сотрудников. Автоматизация бизнес процессов компании
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Информативность</span>
                    <sub class="benefits__article-heading-counter"> 08 </sub>
                </div>
                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/portal/benefits/benefits-portal-8.png" alt="" />
                    </figure>
                </div>
                <p class="benefits__article-description">Информирование об изменениях и жизни компании</p>
            </article>
        </div>
    </div>
</section>
