<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="50" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Удобство использования</span>

                    <sub class="benefits__article-heading-counter"> 01 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-shop-image-1.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Качественная реализация дружественного к пользователю инструментария с самыми широкими
                    возможностями последующего администрирования.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="100" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Панель администратора</span>

                    <sub class="benefits__article-heading-counter"> 02 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-shop-image-2.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Настройка разграничения прав доступа к сайту, предоставление необходимого функционала на
                    каждом уровне с возможностью последующей корректировки.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="150" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Сложные фильтры для поиска</span>

                    <sub class="benefits__article-heading-counter"> 03 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-shop-image-3.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разработка и настройка системы умных фильтров для каталога товаров, обеспечение быстрого
                    поиска нужных пользователю позиций по ряду параметров.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="200" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Синхронизация с доп. сервисами</span>

                    <sub class="benefits__article-heading-counter"> 04 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-shop-image-4.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Минимизация рутинной работы, обеспечение высокой степени актуальности выводимой на сайте
                    информации по ценам, наличию товаров на складе и пр.
                </p>
            </article>
        </div>
    </div>
</section>
