<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="50" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Уникальный дизайн</span>

                    <sub class="benefits__article-heading-counter"> 01 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-landing-image-1.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Правильный дизайн лендинга поможет выделиться среди конкурентов и привлечь внимание
                    посетителей
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="100" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Подробная информация</span>

                    <sub class="benefits__article-heading-counter"> 02 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-landing-image-2.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    На лендинге можно предоставить подробную информацию о товаре или услуге, что поможет
                    убедить посетителей в их выгодности
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="150" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Высокая конверсия</span>

                    <sub class="benefits__article-heading-counter"> 03 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-landing-image-3.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Оформление и структура будет склонять к выполнению целевых действий, таких как покупка или
                    оставление контактных данных
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="200" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Адаптивная верстка</span>

                    <sub class="benefits__article-heading-counter"> 04 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-landing-image-4.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разработка под все устройства. Адаптивный дизайн повышает удобство использования и
                    привлекает больше трафика.
                </p>
            </article>
        </div>
    </div>
</section>
