<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="50" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Сайты - <br />визитки</span>

                    <sub class="benefits__article-heading-counter"> 01 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-sites-image-1.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разрабатываем не только лендинги, но и полноценное корпоративные и брендовые сайты.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="100" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Каталоги и магазины</span>

                    <sub class="benefits__article-heading-counter"> 02 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-sites-image-2.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разработка простых каталогов и интернет-магазинов, со сложной корзиной и системой оплаты.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="150" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Крупные порталы</span>

                    <sub class="benefits__article-heading-counter"> 03 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-sites-image-3.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разработка многофунциональных порталов включающих в себя не только услуги, но и базу
                    знаний.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="200" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Любого другого типа</span>

                    <sub class="benefits__article-heading-counter"> 04 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/benefits/benefits-sites-image-4.webp" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разработка сайтов любого уровня сложности, как в разработке, так и в дизайне.
                </p>
            </article>
        </div>
    </div>
</section>
