<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="50" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Молодым стартапам</span>

                    <sub class="benefits__article-heading-counter"> 01 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/app/benefits01-app.png" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разработка приложений для стартапов. Для реализации целей и ресурсов, необходимым молодым
                    компаниям.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="100" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Крупным корпорациям</span>

                    <sub class="benefits__article-heading-counter"> 02 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/app/benefits03-app.png" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Автоматизируем бизнес-процессы, решаем задачи в сферах ритейла, медицины, финансов,
                    транспорта и логистики.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="150" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Малому и среднему бизнесу</span>

                    <sub class="benefits__article-heading-counter"> 03 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/app/benefits04-app.png" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Разрабатываем приложения любой сложности с учетом потребностей вашего бизнеса. Глубоко
                    вникаем в бизнес-процессы компании.
                </p>
            </article>
            <article data-aos="fade-up" data-aos-offset="250" data-aos-delay="200" class="benefits__article">
                <div class="benefits__article-heading">
                    <span class="benefits__article-heading-title">Digital агентствам</span>

                    <sub class="benefits__article-heading-counter"> 04 </sub>
                </div>

                <div class="benefits__article-poster">
                    <figure class="benefits__article-poster-image">
                        <img src="./assets/images/sections/app/benefits02-app.png" alt="" />
                    </figure>
                </div>

                <p class="benefits__article-description">
                    Создадим индивидуальные программные решения для эффективное ведение онлайн бизнеса.
                </p>
            </article>
        </div>
    </div>
</section>
