<section class="cases">
    <div class="cases__container container">
        <div class="cases__head section-head">
            <span class="section-head__title title">кейсы</span>
            <div class="section-head__group group">
                <button type="button" class="group__button btn">
                    <span class="btn__text">Оставить заявку</span>
                    <span class="btn__arrow-wrap">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                        >
                            <path
                                d="M15.3987 19.0404L21.4687 12.9704L15.3988 6.90039"
                                stroke="#140A3F"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M4.46883 12.9707L21.2988 12.9707"
                                stroke="#140A3F"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                </button>

                <div class="group__projects">
                    <div class="group__counter"><span>50+</span></div>

                    <p class="group__title">проектов</p>
                </div>
            </div>
        </div>
        <div class="cases__body">
            <div class="cases__carousel">
                <div class="cases__slider swiper">
                    <div class="cases__wrapper swiper-wrapper">
                        <a href="#" class="cases__slide slide-cases swiper-slide">
                            <div data-draggable class="slide-cases__image-wrap">
                                <img
                                    src="./assets/images/sections/cases/1.webp"
                                    alt=""
                                    class="slide-cases__image"
                                />
                            </div>
                            <div class="slide-cases__content">
                                <span class="slide-cases__title txt25">Tars</span>
                                <span class="slide-cases__subtitle txt16">Портал для хаккеров</span>
                            </div>
                        </a>
                        <a href="#" class="cases__slide slide-cases swiper-slide">
                            <div data-draggable class="slide-cases__image-wrap">
                                <img
                                    src="./assets/images/sections/cases/1.webp"
                                    alt=""
                                    class="slide-cases__image"
                                />
                            </div>
                            <div class="slide-cases__content">
                                <span class="slide-cases__title txt25">Tars</span>
                                <span class="slide-cases__subtitle txt16">Портал для хаккеров</span>
                            </div>
                        </a>
                        <a href="#" class="cases__slide slide-cases swiper-slide">
                            <div data-draggable class="slide-cases__image-wrap">
                                <img
                                    src="./assets/images/sections/cases/1.webp"
                                    alt=""
                                    class="slide-cases__image"
                                />
                            </div>
                            <div class="slide-cases__content">
                                <span class="slide-cases__title txt25">Tars</span>
                                <span class="slide-cases__subtitle txt16">Портал для хаккеров</span>
                            </div>
                        </a>
                        <a href="#" class="cases__slide slide-cases swiper-slide">
                            <div data-draggable class="slide-cases__image-wrap">
                                <img
                                    src="./assets/images/sections/cases/1.webp"
                                    alt=""
                                    class="slide-cases__image"
                                />
                            </div>
                            <div class="slide-cases__content">
                                <span class="slide-cases__title txt25">Tars</span>
                                <span class="slide-cases__subtitle txt16">Портал для хаккеров</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cases__bullets bullets"></div>
            </div>
            <a data-da=".section-head__group,768,first" href="#" class="cases__btn btn">
                <span class="btn__text">Все проекты</span>
                <span class="btn__arrow-wrap">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                    >
                        <path
                            d="M15.3987 19.0404L21.4687 12.9704L15.3988 6.90039"
                            stroke="#140A3F"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M4.46883 12.9707L21.2988 12.9707"
                            stroke="#140A3F"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>
