<section class="info-block">
    <div class="info-block__container container">
        <div class="info-block__image-wrap">
            <img
                src="./assets/images/sections/info-block/image-landing.webp"
                alt=""
                class="info-block__image"
            />
        </div>
        <span class="span info-block__title txt30">Разработка лендинга</span>
        <div class="info-block__text-wrap">
            <p class="info-block__text info-block__text_head">
                Такой тип сайта, как лендинг, одностраничник - требует минимума времени и усилий на свою
                разработку, и при этом является одним из наиболее продуктивных инструментов поиска
                потенциальных и реальных клиентов, осуществления прямых продаж. <br>
                Уровень конверсии посетителей в покупателей у сайта-одностраничника может быть очень высоким,
                так как такая площадка обычно продает лишь один товар (или услугу) потенциально
                заинтересованной аудитории.
            </p>
            <div class="info-block__list-wrap">
                <span class="info-block__subtitle">
                    Разработка лендинга рекомендуется в следующих случаях:</span>
                <ul class="info-block__list">
                    <li class="info-block__list-item">
                        Необходимо экономить средства (например, на начальном этапе торгового бизнеса в сети).
                    </li>
                    <li class="info-block__list-item">
                        Нужно протестировать бизнес-идею (оценка спроса на новый товар и т.п.).
                    </li>
                    <li class="info-block__list-item">
                        Срочный старт продаж (нет времени на полноценный сайт).
                    </li>
                    <li class="info-block__list-item">
                        Дополнительная раскрутка узкого направления (выделение торговой позиции на отдельную
                        площадку).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
