<section class="info-block">
    <div class="info-block__container container">
        <div data-aos="zoom-in" data-aos-offset="250" class="info-block__image-wrap">
            <img src="./assets/images/sections/info-block/image-shop.png" alt="" class="info-block__image" />
        </div>
        <span data-aos="fade-up" data-aos-offset="250" class="span info-block__title txt30"
            >Разработка эффективного интернет-магазина</span
        >
        <div data-aos="fade-up" data-aos-offset="250" class="info-block__text-wrap">
            <p class="info-block__text info-block__text_head">
                В сжатые сроки с чистого листа подготовить к запуску такой сложный и многоплановый проект, как современный сайт интернет-магазина - по силам только сплоченной профессиональной команде специалистов. Изготовление полнофункционального интернет-магазина – сложная задача, имеющая самые разные измерения (дизайн, маркетинг, используемые платформы и технические решения, и многое-многое другое).
                <br>
                Работа над проектом включает в себя такие этапы, как формирование общей концепции, разработка дизайна, проработка структуры и определение необходимого функционала, собственно разработка сайта, его первичное наполнение, подключение необходимых сторонних решений и всеобъемлющее тестирование.
                <br>
                На каждом этапе кроме необходимых специалистов (арт-директора, дизайнера, менеджера проекта, программиста, менеджера по контенту и др.) в работе над сайтом должен принимать непосредственное участие и сам заказчик. Чем глубже он будет погружен в проект, оценивая проделанную работу, внося в нее правки и направляя специалистов - тем ближе конечный результат подойдет к тому, что клиент хочет получить в итоге
            </p>
        </div>
    </div>
</section>
