<section class="info-block">
    <div class="info-block__container container">
        <div data-aos="zoom-in" data-aos-offset="250" class="info-block__image-wrap">
            <img src="./assets/images/sections/app/info-block-app.png" alt="" class="info-block__image" />
        </div>
        <span data-aos="fade-up" data-aos-offset="250" class="span info-block__title txt30"
            >Разработка мобильных приложений</span
        >
        <div data-aos="fade-up" data-aos-offset="250" class="info-block__text-wrap">
            <p class="info-block__text info-block__text_head">
                С помощью мобильных приложений вы сможете вывести бизнес на новый уровень: проводить сделки,
                обучать сотрудников, планировать и ставить задачи, закупать и доставлять товары в максимально
                удобном для компании и клиента формате. Мы сотрудничаем не только с крупными компаниями, но и
                стартапами, для которых требуется решение задач, у которых еще нет примеров интерфейса. Какие
                задачи решают мобильные приложения?
            </p>
            <div class="info-block__list-wrap">
                <ul class="info-block__list">
                    <li class="info-block__list-item">
                        Повышение прибыли: вы сможете стимулировать продажи, находясь на связи с покупателем
                        24/7.
                    </li>
                    <li class="info-block__list-item">
                        Улучшение сервиса и повышение лояльности к бренду с помощью удобного интерфейса и
                        упрощенного алгоритма покупок.
                    </li>
                    <li class="info-block__list-item">
                        Сокращение издержек: грамотные решения позволят сэкономить на рекламе и рабочих
                        местах.
                    </li>
                    <li class="info-block__list-item">
                        Автоматизация процессов. Легко управляйте делами без рутинной работы и привлечения
                        дополнительных сотрудников.
                    </li>
                    <li class="info-block__list-item">За счет самообслуживания - снижение расходов.</li>
                </ul>
            </div>
            <p class="info-block__text info-block__text_head">
                Наша цель - создать продукт, не только приносящий прибыль, но и полезный для общества. Поэтому
                важным этапом разработки мобильного приложения является проектирование бизнес-модели и
                аналитика: качественный анализ требований и бизнес-процессов, маркетинговый и технический
                аудит. Во время проработки концепции вы получите готовый рабочий прототип, который позволит
                оценить качество приложения, внести правки и доработать продукт. Мы умеем хранить секреты и
                строго следуем правилу конфиденциальности материалов. Итак, что мы предлагаем?
            </p>
            <div class="info-block__list-wrap">
                <ul class="info-block__list">
                    <li class="info-block__list-item">
                        Наши клиенты - наши друзья, мы всегда рады выпить кофе вместе за обсуждением проекта.
                    </li>
                    <li class="info-block__list-item">
                        Аудит продуктов конкурентов. Комплексный подход, включающий полный анализ рынка.
                    </li>
                    <li class="info-block__list-item">Грамотная программная архитектура и качество кода.</li>
                    <li class="info-block__list-item">
                        Работа с платформами IOS, Android, Windows Phone и другими.
                    </li>
                    <li class="info-block__list-item">Сопровождение на протяжении всего жизненного цикла.</li>
                </ul>
            </div>
            <p class="info-block__text info-block__text_head">
                Лучшие мобильные приложения появляются в результате продолжительной работы, включающей
                изучение метрик и улучшение свойств с учетом запросов пользователей. Мы предоставляем услуги
                по разработке мобильных приложений с нуля.
            </p>
            <div class="info-block__list-wrap">
                <span class="info-block__subtitle">Регулярная поддержка:</span>
                <ul class="info-block__list">
                    <li class="info-block__list-item">
                        мониторинг состояния системы: решение проблем взаимодействия с сервером и контентом;
                    </li>
                    <li class="info-block__list-item">
                        мониторинг и расшифровка метрик с регулярными отчетами;
                    </li>
                    <li class="info-block__list-item">работа с отзывами: отслеживание и взаимодействие;</li>
                    <li class="info-block__list-item">
                        модернизация в соответствии с обновлениями IOS и Android;
                    </li>
                    <li class="info-block__list-item">адаптация под бизнес-процессы.</li>
                </ul>
            </div>
            <p class="info-block__text">
                Больше всего мы любим решать сложные задачи и воплощать смелые идеи, давайте сделаем что-то
                по-настоящему восхитительное вместе!
            </p>
        </div>
    </div>
</section>
