<section class="info-block">
    <div class="info-block__container container">
        <div data-aos="zoom-in" data-aos-offset="250" class="info-block__image-wrap">
            <img src="./assets/images/sections/info-block/1.webp" alt="" class="info-block__image" />
        </div>
        <span data-aos="fade-up" data-aos-offset="250" class="span info-block__title txt30"
            >Продвижение сайтов в ТОП - 3</span
        >
        <div data-aos="fade-up" data-aos-offset="250" class="info-block__text-wrap">
            <p class="info-block__text info-block__text_head">
                Аренда ссылок, оптимизация текстов и кода давно перестали давать нужный эффект в продвижении
                сайта. Только благодаря комплексной стратегии возможно вывести сайт на высокие позиции и
                продажи. Мы сделаем ваш сайт проще и удобнее, устраним технические ошибки и заполним полезным
                контентом для целевой аудитории.
            </p>
            <div class="info-block__list-wrap">
                <span class="info-block__subtitle">Чем мы будем для вас полезны:</span>
                <ul class="info-block__list">
                    <li class="info-block__list-item">
                        Поисковый аудит. Проведение аудита сайта для определения причин низкой позиции.
                        Разработаем план привлечения новой целевой аудитории, дадим рекомендации для удержания
                        старых клиентов.
                    </li>
                    <li class="info-block__list-item">
                        Performance-маркетинг. Работаем с узнаваемостью бренда и созданием репутацию, работаем
                        с негативными отзывами и мониторим упонимания о компании.
                    </li>
                    <li class="info-block__list-item">
                        Поисковый маркетинг. Поможем получить больше заявок из поисковых систем и вывести сайт
                        в ТОП с помощью устранения технических ошибок.
                    </li>
                    <li class="info-block__list-item">
                        Контекстная реклама. Создадим и настроим рекламу на платформах Яндекс Директ и Google
                        Adwords. Постоянная работа над повышением эффективности.
                    </li>
                    <li class="info-block__list-item">
                        SERM. Проработаем имидж: своевременно вытесним из выдачи негативные отзывы, увеличим
                        количество положительных упоминаний и повысим авторитет компании.
                    </li>
                    <li class="info-block__list-item">Проводим исследования факторов ранжирования.</li>
                </ul>
            </div>
            <p class="info-block__text">
                СЕО Продвижение — это кропотливая системная работа. От качества продвижения напрямую зависит
                ваш доход. Поэтому разработка индивидуальной стратегии необходима для результата.
            </p>
            <p class="info-block__text">
                Мы не используем конвейерный подход: для нас важна уникальность проекта и детальное изучение
                бизнес-процессов каждой компании.
            </p>
            <p class="info-block__text">
                Мы учитываем все последние изменения поисковых систем и ведем сквозную аналитику для наших
                клиентов.
            </p>
            <p class="info-block__text">
                Если вы все еще не вывели ваш бизнес в онлайн, самое время это сделать!
            </p>
        </div>
    </div>
</section>
