<section class="intro">
    <figure class="intro__poster-image intro__poster-image_has-backdrop">
        <img class="_desktop-only" src="./assets/images/sections/intro/intro-main-promo.webp" alt="" />
        <img class="_mobile-only" src="./assets/images/sections/intro/intro-main-promo-mobile.webp" alt="" />
    </figure>

    <div class="container">
        <div class="intro__content">
            <span class="intro__title title">
                <span>Выводим</span> в <span class="txt-green">ТОП-3</span> всего за 1 неделю
            </span>

            <div class="intro__group group">
                <button type="button" class="group__button btn">
                    <span class="btn__text">Оставить заявку</span>

                    <span class="btn__arrow-wrap">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                        >
                            <path
                                d="M15.3987 19.0404L21.4687 12.9704L15.3988 6.90039"
                                stroke="#140A3F"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M4.46883 12.9707L21.2988 12.9707"
                                stroke="#140A3F"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                </button>

                <div class="group__projects">
                    <div class="group__counter"><span>50+</span></div>

                    <p class="group__title _desktop-only">Самое эффективное SEO с гарантией результата</p>
                    <p class="group__title _mobile-only">
                        SEO <br />
                        с гарантией результата
                    </p>
                </div>
            </div>

            <div class="intro__articles">
                <article class="intro__article">
                    <div class="intro__article-link">
                        <span class="intro__article-link-title _desktop-only">
                            Результат начиная <br />с первого дня
                        </span>
                        <span class="intro__article-link-title _mobile-only">
                            Разработка <br />
                            мобильных <br />
                            приложений
                        </span>

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-4.webp" alt="" />
                        </figure>

                        <span class="intro__article-link-icon intro__article-link-icon_has-number"> 1 </span>
                    </div>
                </article>
                <article class="intro__article">
                    <div class="intro__article-link">
                        <span class="intro__article-link-title _desktop-only">
                            Оплата <br />после вывода в ТОП-3
                        </span>
                        <span class="intro__article-link-title _mobile-only">
                            Разработка <br />
                            сайтов <br />
                            под ключ
                        </span>

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-5.webp" alt="" />
                        </figure>

                        <span class="intro__article-link-icon intro__article-link-icon_has-number"> 2 </span>
                    </div>
                </article>
                <article class="intro__article">
                    <div class="intro__article-link">
                        <span class="intro__article-link-title _desktop-only"
                            >Персональный SEO <br />менеджер</span
                        >
                        <span class="intro__article-link-title _mobile-only"
                            >Вывод <br />
                            по Яндексу <br />
                            в ТОП-3</span
                        >

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-6.webp" alt="" />
                        </figure>

                        <span class="intro__article-link-icon intro__article-link-icon_has-number"> 3 </span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
