<section class="intro">
    <figure class="intro__poster-image">
        <img src="./assets/images/sections/intro/intro-main.webp" alt="" />
    </figure>

    <div class="container">
        <div class="intro__content">
            <h1 class="intro__title title">
                Разработка <span>сайтов</span> <br />
                и приложений
            </h1>


                <div class="intro__group group">
                    <button type="button" class="group__button btn btn_arr-down">
                        <span class="btn__text">Оставить заявку</span>
                        <span class="btn__arrow-wrap btn__arrow-wrap">
                            <img
                                aria-hidden="true"
                                src="./assets/images/icons/arr.svg"
                                alt=""
                                class="btn__arrow-icon"
                            />
                        </span>
                    </button>

                    <div class="group__projects">
                        <div class="group__counter"><span>50+</span></div>

                        <p class="group__title">проектов</p>
                    </div>
                </div>

            <div class="intro__articles">
                <article class="intro__article">
                    <a href="#" class="intro__article-link">
                        <span class="intro__article-link-title"> Разработка мобильных приложений </span>

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-1.svg" alt="" />
                        </figure>

                        <figure class="intro__article-link-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </article>
                <article class="intro__article">
                    <a href="#" class="intro__article-link">
                        <span class="intro__article-link-title"
                            >Разработка сайтов <br />
                            под ключ</span
                        >

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-2.svg" alt="" />
                        </figure>

                        <figure class="intro__article-link-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </article>
                <article class="intro__article">
                    <a href="#" class="intro__article-link">
                        <span class="intro__article-link-title"
                            >Вывод <br />
                            по Яндексу в ТОП-3</span
                        >

                        <figure class="intro__article-link-image">
                            <img src="./assets/images/sections/intro/intro-article-image-3.svg" alt="" />
                        </figure>

                        <figure class="intro__article-link-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
