<section class="marketing">
    <div class="container">
        <div class="marketing__content">
            <figure class="marketing__image">
                <img src="./assets/images/sections/marketing/marketing-image-1.webp" alt="" />
            </figure>

            <div class="marketing__info">
                <h2 class="marketing__title subtitle">Комплексный интернет-маркетинг</h2>

                <div class="marketing__info-row">
                    <ul class="marketing__info-list">
                        <li class="marketing__info-item">Сайты визитки</li>
                        <li class="marketing__info-item">Лендинги</li>
                        <li class="marketing__info-item">Интернет - магазины</li>
                        <li class="marketing__info-item">Порталы</li>
                        <li class="marketing__info-item">Приложения</li>
                    </ul>

                    <p class="marketing__info-description">
                        Умеем работать в рамках годовых контрактов и на основе партнерских отношений
                    </p>
                </div>

                <div class="marketing__info-request intro__request">
                    <a href="#" type="button" class="intro__request-button btn btn_arr-down">
                        <span class="btn__text">Портфолио</span>
                        <span class="btn__arrow-wrap btn__arrow-wrap">
                            <img
                                aria-hidden="true"
                                src="./assets/images/icons/arr.svg"
                                alt=""
                                class="btn__arrow-icon"
                            />
                        </span>
                    </a>

                    <div class="intro__request-projects">
                        <div class="intro__request-projects-counter"><span>50+</span></div>

                        <p class="intro__request-projects-title">проектов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
