<section class="marketing marketing_grid">
    <div class="container">
        <div class="marketing__content">
            <figure class="marketing__image">
                <img src="./assets/images/sections/marketing/marketing-image-2.webp" alt="" />
            </figure>

            <div class="marketing__info">
                <h2 class="marketing__title subtitle">Преимущества наших технологий</h2>

                <div class="marketing__info-row">
                    <ul class="marketing__info-list">
                        <li class="marketing__info-item">
                            Обеспечиваем ТОП 1-3 в нишах абсолютно любой сложности
                        </li>
                        <li class="marketing__info-item">
                            Сайт стабильно держится в ТОП 3-5 весь период сотрудничества
                        </li>
                        <li class="marketing__info-item">Взлет позиций за первую неделю сотрудничества</li>
                        <li class="marketing__info-item">Анализируем конкурентов</li>
                        <li class="marketing__info-item">Собираем семантическое ядро</li>
                        <li class="marketing__info-item">Проводим технический аудит</li>
                        <li class="marketing__info-item">Проводим юзабилити аудит</li>
                        <li class="marketing__info-item">Оптимизируем сайты под Яндекс и Google</li>
                        <li class="marketing__info-item">Осуществляем мониторинг позиций и делаем выводы</li>
                    </ul>
                </div>

                <div class="marketing__group group">
                    <a href="#" class="group__button btn">
                        <span class="btn__text">Портфолио</span>
                        <span class="btn__arrow-wrap btn__arrow-wrap">
                            <img
                                aria-hidden="true"
                                src="./assets/images/icons/arr.svg"
                                alt=""
                                class="btn__arrow-icon"
                            />
                        </span>
                    </a>

                    <div class="group__projects">
                        <div class="group__counter"><span>50+</span></div>

                        <p class="group__title">проектов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
