<section class="marketing">
    <div class="container">
        <div class="marketing__content">
            <figure class="marketing__image">
                <img src="./assets/images/sections/marketing/marketing-shop-image.webp" alt="" />
            </figure>

            <div class="marketing__info">
                <h2 class="marketing__title subtitle">Что входит в разработку интрнет-магазина</h2>

                <div class="marketing__info-row">
                    <ul class="marketing__info-list">
                        <li class="marketing__info-item">Любой уровень сложности проекта</li>
                        <li class="marketing__info-item">
                            Корзина с любыми нужными функциями и подключением систем оплаты
                        </li>
                        <li class="marketing__info-item">
                            Детально проработанные личные кабинеты клиента, администратора и т. п.
                        </li>
                        <li class="marketing__info-item">
                            Грамотная реализация смарт-фильтров товарного каталога любой сложности
                        </li>
                        <li class="marketing__info-item">Полная синхронизация с продуктами 1С</li>
                        <li class="marketing__info-item">Синхронизация с любыми CRM</li>
                    </ul>
                </div>

                <div class="marketing__group group">
                    <a href="#" class="group__button btn btn_arr-down">
                        <span class="btn__text">Портфолио</span>
                        <span class="btn__arrow-wrap btn__arrow-wrap">
                            <img
                                aria-hidden="true"
                                src="./assets/images/icons/arr.svg"
                                alt=""
                                class="btn__arrow-icon"
                            />
                        </span>
                    </a>

                    <div class="group__projects">
                        <div class="group__counter"><span>50+</span></div>

                        <p class="group__title">проектов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
