<section class="marketing">
    <div class="container">
        <div class="marketing__content">
            <figure data-aos="zoom-in" data-aos-offset="250" class="marketing__image">
                <img src="./assets/images/sections/marketing/marketing-image-1.webp" alt="" />
            </figure>

            <div data-aos="fade-up" data-aos-offset="250" class="marketing__info">
                <h2 class="marketing__title subtitle">Комплексный интернет-маркетинг</h2>

                <div class="marketing__info-row">
                    <ul class="marketing__info-list">
                        <li class="marketing__info-item">Сайты визитки</li>
                        <li class="marketing__info-item">Лендинги</li>
                        <li class="marketing__info-item">Интернет - магазины</li>
                        <li class="marketing__info-item">Порталы</li>
                        <li class="marketing__info-item">Приложения</li>
                    </ul>

                    <p class="marketing__info-description">
                        Умеем работать в рамках годовых контрактов и на основе партнерских отношений
                    </p>
                </div>

                <div class="marketing__group group">
                    <a href="#" class="group__button btn">
                        <span class="btn__text">Портфолио</span>

                        <span class="btn__arrow-wrap">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                viewBox="0 0 25 25"
                                fill="none"
                            >
                                <path
                                    d="M15.3987 19.0404L21.4687 12.9704L15.3988 6.90039"
                                    stroke="#140A3F"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M4.46883 12.9707L21.2988 12.9707"
                                    stroke="#140A3F"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </span>
                    </a>

                    <div class="group__projects">
                        <div class="group__counter"><span>50+</span></div>

                        <p class="group__title">проектов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
