<section class="portfolio">
    <div class="container">
        <div class="portfolio__content">
            <div class="portfolio__heading section-head">
                <h2 class="section-head__title title">портфолио</h2>

                <div class="section-head__group group">
                    <button type="button" class="group__button btn ">
                        <span class="btn__text">Оставить заявку</span>
                        <span class="btn__arrow-wrap btn__arrow-wrap">
                            <img
                                aria-hidden="true"
                                src="./assets/images/icons/arr.svg"
                                alt=""
                                class="btn__arrow-icon"
                            />
                        </span>
                    </button>

                    <div class="group__projects">
                        <div class="group__counter"><span>50+</span></div>

                        <p class="group__title">проектов</p>
                    </div>
                </div>
            </div>

            <ul class="portfolio__list">
                <li class="portfolio__item">
                    <a href="#">
                        <figure class="portfolio__item-image">
                            <img src="./assets/images/sections/portfolio/portfolio-image-1.webp" alt="" />
                        </figure>

                        <div class="portfolio__item-bottom">
                            <p class="portfolio__item-text">Tars <span>Портал для хаккеров</span></p>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item">
                    <a href="#">
                        <figure class="portfolio__item-image">
                            <img src="./assets/images/sections/portfolio/portfolio-image-2.webp" alt="" />
                        </figure>

                        <div class="portfolio__item-bottom">
                            <p class="portfolio__item-text">Tars <span>Портал для хаккеров</span></p>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item">
                    <a href="#">
                        <figure class="portfolio__item-image">
                            <img src="./assets/images/sections/portfolio/portfolio-image-3.webp" alt="" />
                        </figure>

                        <div class="portfolio__item-bottom">
                            <p class="portfolio__item-text">Tars <span>Портал для хаккеров</span></p>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item">
                    <a href="#">
                        <figure class="portfolio__item-image">
                            <img src="./assets/images/sections/portfolio/portfolio-image-4.webp" alt="" />
                        </figure>

                        <div class="portfolio__item-bottom">
                            <p class="portfolio__item-text">Tars <span>Портал для хаккеров</span></p>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item">
                    <a href="#">
                        <figure class="portfolio__item-image">
                            <img src="./assets/images/sections/portfolio/portfolio-image-2.webp" alt="" />
                        </figure>

                        <div class="portfolio__item-bottom">
                            <p class="portfolio__item-text">Tars <span>Портал для хаккеров</span></p>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item">
                    <a href="#">
                        <figure class="portfolio__item-image">
                            <img src="./assets/images/sections/portfolio/portfolio-image-5.webp" alt="" />
                        </figure>

                        <div class="portfolio__item-bottom">
                            <p class="portfolio__item-text">Tars <span>Портал для хаккеров</span></p>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
            </ul>

            <a href="#" type="button" class="portfolio__link btn ">
                <span class="btn__text">Все проекты</span>
                <span class="btn__arrow-wrap btn__arrow-wrap">
                    <img
                        aria-hidden="true"
                        src="./assets/images/icons/arr.svg"
                        alt=""
                        class="btn__arrow-icon"
                    />
                </span>
            </a>
        </div>
    </div>
</section>
