<section class="promotion">
    <div class="container">
        <div class="promotion__content">
            <div class="_desktop-only">
                <div class="promotion__block">
                    <span class="promotion__title title">проводим</span>
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">исследования</h2>

                    <span class="promotion__subtitle">Вникаем во внутренние процессы компании-клиента</span>
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">в вашей области</h2>

                    <span class="promotion__subtitle"
                    >Решаем проблемы потребителям и оптимизируем бизнес-процессы</span
                    >
                </div>
            </div>

            <div class="_mobile-only">
                <div class="promotion__block">
                    <h2 class="promotion__title title">проводим</h2>
                </div>
                <div class="promotion__block">
                    <h2 class="promotion__title title">иccледования</h2>
                </div>
                <div class="promotion__block">
                    <h2 class="promotion__title title">в области</h2>
                </div>
                <div class="promotion__block">
                    <span class="promotion__subtitle">Вникаем во внутренние процессы <br> компании-клиента</span>
                </div>
                <div class="promotion__block">
                    <span class="promotion__subtitle">Решаем проблемы потребителям и оптимизируем бизнес-процессы</span>
                </div>
            </div>
        </div>
    </div>
</section>
