<section class="promotion">
    <div class="container">
        <div class="promotion__content">
            <div class="_desktop-only">
                <div class="promotion__block">
                    <h2 class="promotion__title title">AdamCode -</h2>
                    <span class="promotion__subtitle">
                        Внутренний веб сайт/ корпоративная система расположенная на серверах компании
                    </span>
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">Генеральный партнер</h2>
                    <span class="promotion__subtitle">Корпоративная информация и веб-сервисы</span>
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">в разрабоке порталов</h2>
                    <span class="promotion__subtitle">
                        Достигаем целей, преодолевая коммуникационный разрыв между разработчиками, дизайном,
                        клиентами и бизнесом
                    </span>
                </div>
            </div>

            <div class="promotion__block _mobile-only">
                <h2 class="promotion__title title">
                    <span class="promotion__title-txt">Проводим</span>
                    <span class="promotion__title-txt">исследования</span>
                    <span class="promotion__title-txt">в области</span>
                </h2>
            </div>
            <ul class="promotion__list _mobile-only">
                <li class="promotion__list-item">Проводим исследования в области на основе прорывных идей</li>
                <li class="promotion__list-item">
                    Правильно решаем проблемы потребителей и оптимизировать бизнес-процессы
                </li>
            </ul>
            <span class="promotion__bg-text bg-text _mobile-only">
                <span class="bg-text__content"><span>re</span><span>al</span></span>
            </span>
        </div>
    </div>
</section>
