<section class="project">
    <div class="project__container container">
        <div class="project__content">
            <a href="#" class="project__link link link_ol">
                <figure class="link__arrow">
                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9.60125 19.0409L3.53125 12.9709L9.60125 6.90088"
                            stroke="#140A3F"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M20.5331 12.9707L3.70312 12.9707"
                            stroke="#140A3F"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </figure>

                <span class="link__text"> Назад </span>
            </a>
            <div class="project__group group-project">
                <div class="group-project__item group-project__item_name">
                    <div class="group-project__inner">
                        <span class="txt25">Tars</span> Портал для хакеров и разработчиков
                    </div>
                </div>
                <div class="group-project__item group-project__item_link">
                    <a href="#" class="group-project__inner">
                        <span class="group-project__text">Tars-hakers.ru</span>
                        <div class="group-project__icon-wrap arr-icon">
                            <img src="./assets/images/icons/arr-white.svg" alt="" class="arr-icon__icon" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="project__image-wrap">
                <img src="./assets/images/sections/project/project.webp" alt="" class="project__image" />
            </div>
        </div>
        <div class="project__bg">
            <img src="./assets/images/sections/project/bg.webp" alt="" class="project__bg-image" />
        </div>
    </div>
</section>
