<section class="promotion">
    <div class="container">
        <div class="promotion__content">
            <div class="_desktop-only">
                <div class="promotion__block">
                    <h2 class="promotion__title title">вникаем во-внутренние</h2>

                    <span class="promotion__subtitle"
                        >Правильно решаем проблемы потребителей и оптимизировать бизнес-процессы</span
                    >
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">Процессы</h2>

                    <span class="promotion__subtitle"
                        >Проводим исследования в области на основе прорывных идей</span
                    >
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">Компании клиента</h2>
                </div>
            </div>

            <div class="_mobile-only">
                <div class="promotion__block">
                    <h2 class="promotion__title title">вникаем</h2>
                </div>
                <div class="promotion__block">
                    <h2 class="promotion__title title">во-внутренние</h2>
                </div>
                <div class="promotion__block">
                    <h2 class="promotion__title title">процессы</h2>
                </div>
                <div class="promotion__block">
                    <h2 class="promotion__title title">компании-клиента</h2>
                </div>
                <div class="promotion__block">
                    <span class="promotion__subtitle">Проводим исследования в области на основе прорывных идей</span>
                </div>
                <div class="promotion__block">
                    <span class="promotion__subtitle">Правильно решаем проблемы потребителей и оптимизировать бизнес-процессы</span>
                </div>
            </div>
        </div>
    </div>
</section>
