<section class="promotion promotion_real-fant">
    <div class="container">
        <div class="promotion__content">
            <div class="promotion__block _desktop-only">
                <h2 class="promotion__title title">
                    <span class="promotion__title-txt">Разработка</span>
                    <span class="promotion__title-txt"
                        ><span>Доработки существующего ядра</span> детализированного</span
                    >
                    <span class="promotion__title-txt"
                        ><span>Аудит существующего ядра</span>семантического ядра</span
                    >
                    <span class="promotion__title-txt"
                        ><span>Разработка ядра с нуля</span> с учетом словоформ</span
                    >
                </h2>
            </div>
            <div class="promotion__block _mobile-only">
                <h2 class="promotion__title title">
                    <span class="promotion__title-txt">Разработка</span>
                    <span class="promotion__title-txt">детализированного</span>
                    <span class="promotion__title-txt">семантического </span>
                    <span class="promotion__title-txt">ядра с учетом </span>
                    <span class="promotion__title-txt">словоформ</span>
                </h2>
            </div>
            <ul class="promotion__list _mobile-only">
                <li class="promotion__list-item">Аудит существующего ядра</li>
                <li class="promotion__list-item">Разработка ядра с нуля</li>
                <li class="promotion__list-item">Доработки существующего ядра</li>
            </ul>
            <span class="promotion__bg-text bg-text">
                <span class="bg-text__content"><span>re</span><span>al</span></span>
                <span class="bg-text__content"><span>fa</span><span>nt</span></span>
            </span>
        </div>
    </div>
</section>
