<section class="promotion">
    <div class="container">
        <div data-aos="fade-up" data-aos-offset="250" class="promotion__content">
            <figure class="promotion__image">
                <img
                    src="./assets/images/sections/promotion/promotion-shop.svg"
                    alt=""
                    class="_desktop-only"
                />
                <img
                    src="./assets/images/sections/promotion/promotion-shop-mobile.svg"
                    alt=""
                    class="_mobile-only"
                />
            </figure>
        </div>
    </div>
</section>
