<section class="promotion">
    <div class="container">
        <div data-aos="fade-up" data-aos-offset="250" class="promotion__content">
            <div class="_desktop-only">
                <div class="promotion__block">
                    <h2 class="promotion__title title">нативная разработка</h2>
                    <span class="promotion__subtitle"> Создаем индивидуальные программные решения </span>
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">по индивидуальным</h2>
                    <span class="promotion__subtitle"
                        >Разрабатываем приложения любой сложности с учетом потребностей вашего бизнеса</span
                    >
                </div>

                <div class="promotion__block">
                    <h2 class="promotion__title title">требованиям</h2>
                </div>
            </div>

            <div class="promotion__block _mobile-only">
                <h2 class="promotion__title title">
                    <span class="promotion__title-txt">нативная</span>
                    <span class="promotion__title-txt">разработка</span>
                    <span class="promotion__title-txt">по индивидуальным</span>
                    <span class="promotion__title-txt">требованиям</span>
                </h2>
            </div>
            <ul class="promotion__list _mobile-only">
                <li class="promotion__list-item">Создаем индивидуальные программные решения</li>
                <li class="promotion__list-item">
                    Разрабатываем приложения любой сложности с учетом потребностей вашего бизнеса
                </li>
            </ul>
        </div>
    </div>
</section>
