<section class="publications">
    <div class="container">
        <div class="publications__content">
            <ul class="publications__list">
                <li data-aos="fade-up" data-aos-offset="250" data-aos-delay="50" class="publications__item">
                    <a href="#">
                        <figure class="publications__item-image">
                            <img src="./assets/images/sections/publications/publications-image.webp" alt="" />
                        </figure>

                        <span class="publications__item-title">
                            Название статьи, может быть длинным в 2 строки, но не больше, зафиксируем колич...
                        </span>

                        <div class="publications__item-bottom">
                            <span class="publications__item-details"> Подробнее </span>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" data-aos-delay="100" class="publications__item">
                    <a href="#">
                        <figure class="publications__item-image">
                            <img src="./assets/images/sections/publications/publications-image.webp" alt="" />
                        </figure>

                        <span class="publications__item-title">
                            Название статьи, может быть длинным в 2 строки, но не больше, зафиксируем колич...
                        </span>

                        <div class="publications__item-bottom">
                            <span class="publications__item-details"> Подробнее </span>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" data-aos-delay="150" class="publications__item">
                    <a href="#">
                        <figure class="publications__item-image">
                            <img src="./assets/images/sections/publications/publications-image.webp" alt="" />
                        </figure>

                        <span class="publications__item-title">
                            Название статьи, может быть длинным в 2 строки, но не больше, зафиксируем колич...
                        </span>

                        <div class="publications__item-bottom">
                            <span class="publications__item-details"> Подробнее </span>

                            <figure class="portfolio__item-icon">
                                <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                            </figure>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
