<section class="services">
    <div class="container">
        <div class="services__content">
            <ul class="services__list">
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-1.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-2.webp" alt="" />
                        </figure>

                        <span class="services__item-title">Разработка сайтов всех типов</span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-3.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-4.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-5.webp" alt="" />
                        </figure>

                        <span class="services__item-title">Разработка сайтов всех типов</span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-6.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-7.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-8.webp" alt="" />
                        </figure>

                        <span class="services__item-title">Разработка сайтов всех типов</span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-9.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-10.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-11.webp" alt="" />
                        </figure>

                        <span class="services__item-title">Разработка сайтов всех типов</span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-12.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-13.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-14.webp" alt="" />
                        </figure>

                        <span class="services__item-title">Разработка сайтов всех типов</span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-offset="250" class="services__item">
                    <a href="#">
                        <figure class="services__item-image">
                            <img src="./assets/images/sections/services/services-image-15.webp" alt="" />
                        </figure>

                        <span class="services__item-title"> Разработка сайтов всех типов </span>

                        <figure class="services__item-icon">
                            <img src="./assets/images/icons/arrow-rotated.svg" alt="" />
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
