<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#"> Портфолио </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Продвижение </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Сайты </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Услуги </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Публикации </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Контакты </a>
                </li>
            </ul>

            <div class="footer__middle">
                <a href="#" class="footer__logo">
                    <img src="./assets/images/icons/logo-vertical.svg" alt="" class="desktop" />
                    <img src="./assets/images/icons/logo.svg" alt="" class="mobile" />
                </a>

                <ul class="footer__contacts">
                    <li class="footer__contact">
                        <a href="tel:79999999999"> +7 999 999 99 99 </a>
                    </li>
                    <li class="footer__contact">
                        <a href="mailto:RealFant@gmail.ru"> RealFant@gmail.ru </a>
                    </li>
                </ul>
            </div>

            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#"> Сайты </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Интернет-магазины </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Порталы </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Приложение </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Продвижение </a>
                </li>
                <li class="footer__item">
                    <a href="#"> Лендинг </a>
                </li>
                <li class="footer__item">
                    <a href="#">Все услуги</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
