@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 300;
  src: url('./assets/fonts/Euclid-Circular-A-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 400;
  src: url('./assets/fonts/Euclid-Circular-A-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 500;
  src: url('./assets/fonts/Euclid-Circular-A-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 600;
  src: url('./assets/fonts/Euclid-Circular-A-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 700;
  src: url('./assets/fonts/Euclid-Circular-A-Bold.woff2') format('woff2');
}
