// --------------------------------- mixins ---------------------------------

@import './mixins';

// -------------------------------- variables -------------------------------

// fonts
$spaceAge: 'Space Age';
$spaceAgeCyr: 'Space Age Cyrillic';
$EuropeE: 'EuropeExtendedC';
$ECA: 'Euclid Circular A';

// colors
$white: #ffffff;
$white-secondary: rgba(255, 255, 255, 0.69);
$black: #000000;
$darkPurple: #11073b;
$darkPurple2: #140a3f;
$green: #29ff7f;
$blue: #182678;
$bgColor: #101653;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import './fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import './set';

// html
html.lock,
html.lock body {
    overflow: hidden;
    touch-action: none;
}
html,
body {
    overflow-x: hidden;
}

// main
main {
    position: relative;
    flex: 1 1 auto;
}

// wrapper
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: 100%;
}

// swiper fade fix
.swiper.swiper-fade {
    .swiper-slide {
        opacity: 0 !important;
        visibility: hidden !important;
        transition:
            opacity 0.5s ease,
            visibility 0.5s ease;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

// --------------------------------------------------------------------------

// header / footer
@import './sections/header';
@import './sections/footer';

// ui
@import '../ui/styles/ui.scss';

// --------------------------------------------------------------------------

@import './dev/vzmsk1.scss';
@import './dev/markusDM.scss';
@import './dev/ukik0.scss';
@import './dev/kie6er.scss';
